<a href="https://colab.research.google.com/github/adrianhi/Book-Recommendation-Engine-using-KNN/blob/master/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('content/')

Mounted at content/

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from scipy.stats import pearsonr
from sklearn.cluster import KMeans
import seaborn as sns

In [ ]:
df= pd.read_csv("/content/content/MyDrive/Bootcamp AI/dt/DataScience_salaries_2024.csv")
df.sample(n=10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
3438,2023,SE,FT,Data Scientist,192000,USD,192000,US,100,US,M
2010,2023,SE,FT,Applied Scientist,222200,USD,222200,US,0,US,L
12969,2024,SE,FT,Data Analyst,76000,USD,76000,US,0,US,M
555,2023,SE,FT,Data Operations Engineer,289120,USD,289120,US,0,US,M
14422,2023,SE,FT,Data Scientist,45000,EUR,48585,ES,0,ES,M
11287,2023,MI,FT,Data Analyst,100000,USD,100000,US,100,US,M
5898,2022,MI,FT,Data Engineer,160000,USD,160000,US,100,US,M
7897,2023,SE,FT,Business Intelligence Engineer,138900,USD,138900,US,100,US,M
7972,2023,SE,FT,Machine Learning Scientist,138000,USD,138000,US,100,US,M
4541,2023,SE,FT,Data Scientist,176000,USD,176000,US,100,US,M

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14838 entries, 0 to 14837
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           14838 non-null  int64
 1   experience_level    14838 non-null  object
 2   employment_type     14838 non-null  object
 3   job_title           14838 non-null  object
 4   salary              14838 non-null  int64
 5   salary_currency     14838 non-null  object
 6   salary_in_usd       14838 non-null  int64
 7   employee_residence  14838 non-null  object
 8   remote_ratio        14838 non-null  int64
 9   company_location    14838 non-null  object
 10  company_size        14838 non-null  object
dtypes: int64(4), object(7)
memory usage: 1.2+ MB

In [ ]:
df['experience_level'].sample(n=15)

13649    SE
7293     SE
11690    MI
5405     SE
9813     SE
10145    SE
11247    EX
3739     MI
7970     SE
10794    MI
1048     SE
2755     SE
2716     SE
3013     SE
14081    MI
Name: experience_level, dtype: object